* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #F4F6F6;
    z-index:1;
}

.resume-contents {
    max-width: 816px;
    max-height: 1054px:
    min-height: 100vh;
    width: 100%;
    margin: 0.05rem auto;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    z-index:1;
}

.profile-image {
    position:absolute;
    z-index:0;
    max-height: 250px;
    opacity: 0.2;
    object-fit: contain;
}

.top-section-right{
    grid-column: span 3;
    grid-row: span 1;
    height: 100%;
    background-color: #FEFEFE;
}

.top-section-left {
    grid-column: span 5;
    grid-row: span 1;
    height: 100%;
    background-color: #FEFEFE;
}

.bottom-section {
    grid-column: span 8;
    grid-row: span 7;
    height: 100%;
    background-color: #FEFEFE;

}
.top-section-contents{
    padding: 0rem 1.75rem;
    padding-top: 1.5rem;
    display: grid
}

.right-section-contents {
    padding: 0rem 1.75rem;
}
.left-section-contents {
    padding: 0rem 1.75rem;
}

.profile {
    width: 100%;

}

.name {
    color: #0066CC;
    font-size: 32px;
    letter-spacing: 1.5px;
    <! -- text-transform: uppercase; -- >
    text-align: left;
    font-weight: bold;
    padding: 0rem 0;
}

.profession {
    color: #666666;
    font-size: 18px;
    <! -- text-transform: uppercase; -- >
    text-align: left;
    letter-spacing: 1px;
    font-weight: bold;
    padding-bottom: 0.5rem;

}

.about-me-contents {
    font-size: 12px;
    padding-bottom: 0.5rem;
}

.contact-info ul li {
    font-size: 12px;
    padding: 0.2rem 0;
    align-items: right;
    text-align: right;
    justify-content: space-between;
    letter-spacing: 0.5px;
}

.contact-info ul li i {
    font-size: 12px;
    color: #2E86C1;
    margin-left: 0.75rem;
}

ul {
  margin: 0;
}
ul.dashed {
  list-style-type: none;
}

ul.dashed > li:before {
  content: " - ";
  text-indent: -5px;
}

.experience ul {
    padding-top: 0.1rem;
    font-size: 12px;
}

.skills ul {
    padding-top: 0.1rem;
}
.skills ul li p {
    padding: .4rem 0;
    color: #d6dbdfaf;
    font-size: 18px;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
}

.projects ul {
    padding-top: 0.1rem;
    font-size: 11px;
}

.education ul {
    padding-top: 0.1rem;
    font-size: 12px;
}



.right-title {
    color: #34495E;
    font-size: 22px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: bold;
    display: flex;
    align-items: center;
    position: relative;
    padding-top: 1rem;
    border-bottom: 2px solid #1B2631;

}

.gap {
    padding-bottom: 0.05rem;
}

.bottom-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: .1rem;
}

.date-loc-details {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.exp-company-name,
.education-school-name,
.awards-company-name {
    font-size: 18px;
    font-weight: bold;
    border-bottom: 1px solid #1B2631;
    display: inline-block;
    width: auto;
    padding-top: 0.6rem;
}
.education-degree {
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
    padding-top: 0.25rem;
}

.time-period {
    font-size: 12px;
    font-style: italic;
    line-height:1rem;
    color: #818589;
}

.location {
    font-size: 12px;
    font-style: italic;
    color: #818589;
    text-align: right;
}

.exp-position {
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
    color: #2E86C1;
    padding-top: 0.5rem;
}

.education-subject {
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
    letter-spacing: 1px;
    padding-top: 0.25rem;
}

.projects-name,
.skills-name {
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.25px;
    color: #black;
    padding-top: 0.4rem;
}

.awards-name {
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.25px;
    color: #black;
    padding-top: 0.3rem;
}

.exp-desc,
.education-desc {
    font-size: 12px;
    letter-spacing: 0.5px;
    line-height: 1.5rem;
    padding-left: 5px;
}
.awards-desc {
    font-size: 11px;
    font-style: italic;
}

.skills-desc {
    font-size: 12px;
}

.projects-desc {
    font-size: 11px;
}

a {
    color: #2E86C1;
}

.box {
  font-size: 12px;
  color: white;
  float: left;
  border-radius: 10%;
  padding: 0.3rem;
  background-color: #3c78d8;
  margin: 0.25rem;
}
.square {
    padding-top: 0.25rem;
    display: flex;
    flex-wrap: wrap;
}
.square::after {
  content: "";
  clear: both;
  display: table;
}

/* Media queries */
@media screen and (max-width:780px) {
    .experience-contents,
    .education-contents,
    .awards-contents {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (max-width:780px) {
    .left-section {
        grid-column: span 3;
    }

    .bottom-section {
        grid-column: span 4;
    }

}

@media screen and (max-width:1200px) {
    .resume-contents {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (max-width:390px) {
    .resume-contents {
        width: 100%;
        margin: 0 auto;
    }

    .name {
        font-size: 20px;
    }

    .profession {
        font-size: 18px;
    }

    .left-title {
        font-size: 18px;
    }

    .right-title {
        font-size: 18px;
    }

    .contact-info ul li,
    .references ul li {
        font-size: 12px;
    }

    .contact-info ul li i,
    .references ul li i {
        /* padding-right: 1rem; */
        font-size: 12px;
    }

    .skills ul li p {
        font-size: 12px;
    }

    .about-me-contents {
        font-size: 16px;
        line-height: 1.5rem;
    }

    .exp-company-name,
    .education-school-name,
    .awards-company-name {
        font-size: 18px;
    }

    .exp-time-period,
    .time-period,
    .awards-time-period {
        font-size: 16px;
    }

    .exp-position,
    .education-subject {
        font-size: 18px;
    }

    awards-name {
        font-size: 14px;
    }